@model Syntax.WebApp.Internal.Models.AssetClass

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-md">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" required />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="custom-file">
                                <input asp-for="IconFile" type="file" class="custom-file-input" accept=".png">
                                <label class="custom-file-label" for="IconFile">Escolher arquivo</label>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="row icon-list">
                                    @if (ViewBag.FileList != null)
                                    {
                                        <div class="form-group">
                                            <div class="row">
                                                @foreach (var file in ViewBag.FileList)
                                                {
                                                    <div class="col-md-3">
                                                        <label>
                                                            <input type="radio" name="Icon" value="@file.ImageUrl" />
                                                            <img src="@file.ImageUrl" />
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>

                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-secondary">@Localizer["Back"]</a>
                                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
