@model User

@{
    ViewData["Title"] = "Edit";
}

<section class="content">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-md">
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="Id" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Password" />
                        <input type="hidden" asp-for="CreationDate" />
                        <input type="hidden" asp-for="LastAccessDate" />
                        <input type="hidden" asp-for="IsEmailConfirmed" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Role" class="control-label"></label>
                            <select asp-for="Role" class="form-control" required>
                                <option value="">Select a role</option>
                                <option value="Administrator">Administrator</option>
                                <option value="User">User</option>
                                <option value="Premium">Premium</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">@Localizer["Back"]</a>
                            <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
